/* Against 2 Font */
@font-face {
  font-family: 'Against 2';
  src: url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.eot');
  src: url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/0e120f55088b792986cfb90c3180a1e3.svg#Against 2') format('svg');
  font-weight: normal;
  font-style: normal;
}
